* {
  margin: auto;
  padding: auto;
}

.cloud-animation {
  animation: bounce 5s ease infinite ;
}

@keyframes bounce {
  0%{
    transform : translateY(15px);
  }
  20% {
    transform: translate(20px);
  }
  100% {
    transform : translateY(30px);
  }
}


