* {
    margin: auto;
    overflow-x: clip;
}

.landing-page {
    background: url('../src/composants/images/backgroundportfolio2.png');
    background-color: orange;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.landing-page cloud {
    position: relative;
    height: 25rem;
}

.landing-page cloud2 {
    position: relative;
    height: 25rem;
    background-color: blue;
}

.landing-page cloud3 {
    position: relative;
    height: 25rem;
    background-color: blue;
}

.landing-page greyBox {
    position: relative;
    background-color: yellow;
}

.landing-page title {
    font-size: 60px;
    color: red;
}

.landing-page button {
    position: relative;
    color:blueviolet;
}

