* {
    margin: auto;
    overflow-x: clip;
}

.landing-page {
    background: url('../src/composants/images/backgroundportfolio2.png');
    background-repeat: no-repeat;
    background-size:cover;
    height: 100vh;
    margin-right: 2rem;
}

.set-of-clouds {
    position: relative;
    top: 2rem;
    margin-right: 2rem;
    margin-left: 2rem;
    height: 78rem;
    animation: bounce 5s ease infinite ;

}

@keyframes bounce {
    0%{
      transform : translateY(15px);
    }
    20% {
      transform: translate(20px);
    }
    100% {
      transform : translateY(30px);
    }
  }
  

.landing-page greyBox {
    position: relative;
    background-color: yellow;
}

.landing-page title {
    font-size: 60px;
    color: red;
}

.landing-page button {
    position: relative;
    color:blueviolet;
}

