@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  button {
    @apply border py-2 px-3 rounded-full border-black
  }
}

.cloud-animation {
  animation: bounce 5s ease infinite ;
}

@keyframes bounce {
  0%{
    transform : translateY(15px);
  }
  20% {
    transform: translate(20px);
  }
  100% {
    transform : translateY(30px);
  }
}


