@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  button {
    @apply border py-2 px-3 rounded-full border-black
  }
}

@layer utilities {
  .animate-scrolling-image {
    background-image: url(./composants/images/cloud.png);
    animation: scroll 30s linear infinite;
    background-size: cover;
  }
}

@keyframes scroll {
  0%{
    transform : translateX(-100%);
  }
  100%{
    transform : translateX(100%);
  }
}


