* {
    margin: auto;
}

@keyframes bounceArrow {
    0% {
        transform: translateY(0%);
    }
    50% {
      transform : translateY(25%);
    }
    100% {
      transform : translateY(0%);
    }
}

@keyframes anim-lineUp {
    0% {
      opacity: 0;
      transform: translateY(80%);
    }
    20% {
      opacity: 0;
    }
    50% {
      opacity: 1;
      transform: translateY(0%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: #eff7fc;
    padding: 0px 135px 0px 135px;
    height: 70vh;
    font-family: 'Bodoni Moda', serif;
}
    
.container .section-left { 
    margin-top: 4rem;
    flex: 10;
}
    
.container .section-left  h1{
    font-size: 3em;
    margin-left: 40%;
    margin-top: -40px;
    padding: 3%;
}
    
.container .section-left p {
    margin-top: 25px;
    line-height: 30px;
    font-size: 1.2em;
    text-align: justify;
    justify-content: center;
    margin-left: 20%;
}

.container .section-right { 
    flex: 2;
    margin-right: 20%;
    margin-top: 22%;
}

.container .section-right .portrait {
    display: flex;
    height: 45vh;
    width: 18vw;
    border-radius: 10px 10px 10px 10px;
}

.container .section-right .signature {
    display: flex;
    height: 7rem;
    width: 12rem;
}

.stack-container {
    font-family: 'Bodoni Moda', serif;
    border:1px solid lightgray;
    border-radius: 30px 30px 30px 30px;
    background-color: #ffffff;
    width: 90%;
    height: 70vh;
    display: flex;
    flex-direction: row;
    position: relative;
    bottom: 110px;
    list-style: none;
    text-align: center;
}

.stack-container .data-stack {
    position: relative;
    right: 5%;
    width: 40%;
    height: 90%;
}

.stack-container h3 {
    font-size: 2.3em;
    font-weight: normal;
    position: relative;
    top: -15%;
}

.stack-container li {
    font-size: 1.2em;
    position: relative;
    top: -17%;
}

.stack-container .dev-stack {
    position: relative;
    left: 5%;
    width: 40%;
    height: 90%;
}

.vertical {
    position: relative;
    left: 5%;
    top: 50%;
    border-left: 1px solid lightblue;
    height: 40vh;
    margin: 0 20px;
}

.stack-icons {
    position: relative;
    text-align: center;
    font-size: 80px;
    top: 1%;
    color:dodgerblue;
}

@media (max-width: 390px) {
    .container {
        width: 100%;
        background: #eff7fc;
        height: 70vh;
    }

    .text-presentation {
        font-size: 1em;
        width: 100%;
        text-align: center;
    }
    .title-presentation {
        font-size: 2em;
    }
} /* A terminer */

/*.reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 2s ease;
}

.reveal .active {
    transform: translateY(0px);
    opacity: 1;

}*/ 