* {
    margin: auto;
}

.containerProject {
    background-color: rgb(255, 255, 255);
    height: 120vh; 
}

.title-project {
    font-size: 3em;
    width: 35vw;
    margin-left: 6%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.zoom {
    height: 20rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30% 6%;
    margin-left: 10%;
    margin-right: 10%;
}

.img-wrapper {
    position: relative;
    overflow: hidden;
}

.img-wrapper > img {
    display: block;
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: center;
    
}

.img-wrapper > .content {
    position: absolute;
    inset: 0;
    font-size: 2rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.img-wrapper > .zoom, 
.img-wrapper > .content {
    transition: 200ms ease-in-out;
}

.img-wrapper:hover > .zoom.blur {
    filter: blur(9px);
}

.img-wrapper:hover > .zoom.grey {
    filter: grayscale(0.7);
}

.img-wrapper:hover > .zoom.zoom {
    transform: scale(1.1);
}

.img-wrapper > .content.fade {
    opacity: 0;
}

.img-wrapper:hover > .content.fade {
    opacity: 1;
}
